 <div class="table-responsive">
    <table id="records" class="table table-striped">
      <thead>
      <tr>
        <th>Box Nr.</th>
        <th>Business Unity</th>
        <th>Document Type</th>
        <th>Date Created</th>
        <th>Date Archieved</th>
        <th>Volume</th>
        <th>Retention Period (YRS)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of records">
        <td>{{record.id}}</td>
        <td>{{record.businessUnityName}}</td>
        <td>{{record.documentType}}</td>
        <td>{{record.dateCreatedFrom+'-'+record.dateCreatedTo}}</td>
        <td>{{record.dateArchived}}</td>
        <td>{{record.volume}}</td>
        <td>{{record.retentionPeriod}}</td>
      </tr>
      </tbody>
    </table>
  </div>
