<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/records" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Records</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/records/add" routerLinkActive="active">Add Record</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/locations" routerLinkActive="active">Locations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/businessUnities" routerLinkActive="active">Business Unities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="logs" routerLinkActive="active">Logs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="user" routerLinkActive="active">User</a>
    </li>
  </ul>
</nav>
