<main >
  <h1>Out MongoDB is working! :D </h1>
  <section class="row text-center">
    <ul>
      <li *ngFor="let user of users">{{ user.name }}</li>
    </ul>
  </section>

  <h2>Section title</h2>
  <div class="table-responsive">
    <table id="records" class="table table-striped">
      <thead>
      <tr>
        <th>Box Nr.</th>
        <th>Function</th>
        <th>Document Type</th>
        <th>Date Created</th>
        <th>Date Archieved</th>
        <th>Volume</th>
        <th>Retention Period (YRS)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Finance</td>
        <td>Invoices, Debtors</td>
        <td>02/05/2014 - 07/05/2014</td>
        <td>08/05/2014</td>
        <td>1-1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Finance</td>
        <td>Invoices, Debtors</td>
        <td>02/05/2014 - 07/05/2014</td>
        <td>08/05/2014</td>
        <td>1-1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Finance</td>
        <td>Invoices, Debtors</td>
        <td>02/05/2014 - 07/05/2014</td>
        <td>08/05/2014</td>
        <td>1-1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Finance</td>
        <td>Invoices, Debtors</td>
        <td>02/05/2014 - 07/05/2014</td>
        <td>08/05/2014</td>
        <td>1-1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Finance</td>
        <td>Invoices, Debtors</td>
        <td>02/05/2014 - 07/05/2014</td>
        <td>08/05/2014</td>
        <td>1-1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Finance</td>
        <td>Invoices, Debtors</td>
        <td>02/05/2014 - 07/05/2014</td>
        <td>08/05/2014</td>
        <td>1-1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Finance</td>
        <td>Invoices, Debtors</td>
        <td>02/05/2014 - 07/05/2014</td>
        <td>08/05/2014</td>
        <td>1-1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Finance</td>
        <td>Invoices, Debtors</td>
        <td>02/05/2014 - 07/05/2014</td>
        <td>08/05/2014</td>
        <td>1-1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Finance</td>
        <td>Invoices, Debtors</td>
        <td>02/05/2014 - 07/05/2014</td>
        <td>08/05/2014</td>
        <td>1-1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Finance</td>
        <td>Invoices, Debtors</td>
        <td>02/05/2014 - 07/05/2014</td>
        <td>08/05/2014</td>
        <td>1-1</td>
        <td>5</td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
